@keyframes glowRed {
    from {background-color: maroon}
    to {background-color: red}
}

@keyframes glowBlue {
    from {background-color: darkblue}
    to {background-color: blue}
}

@keyframes glowYellow {
    from {background-color: lightyellow}
    to {background-color: yellow}
}

@keyframes glowGreen {
    from {background-color: lightgreen}
    to {background-color: green}
}

h1 {
    font-size: 48px;
    text-align: center;
    grid-row: 1;
    grid-column: 1 / span4;
}

h3 {
    text-align: center;
    grid-row: 2;
    grid-column: 2;
}

textarea {
    grid-row: 2;
    grid-column: 3; 
}

#red {
    width:  100px;
    height: 100px;
    background: red;
    grid-row: 3;
    grid-column: 3;
}

#blue {
    width:  100px;
    height: 100px;
    background: darkblue;
    animation-name: glowBlue;
    animation-duration: 1s;
    grid-row: 4;
    grid-column: 1;
}

#green {
    width:  100px;
    height: 100px;
    background: green;
    grid-row: 4;
    grid-column: 5;
}

#yellow {
    width:  100px;
    height: 100px;
    background: yellow;
    filter: 50%;
    grid-row: 5;
    grid-column: 3;
}

#playButton {
    grid-row: 6;
    grid-column: 1;
}

#submitButton {
    grid-row: 6;
    grid-column: 5;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 10px;
}

